@use "fonts";

:root {
  --clr-grey-900: hsl(217, 19%, 35%);
  --clr-grey-500: hsl(214, 17%, 51%);
  --clr-grey-400: hsl(212, 23%, 69%);
  --clr-grey-200: hsl(210, 46%, 95%);
  --clr-white: hsl(0, 0%, 100%);

  --border-radius: 0.62rem;

  --ff-primary: 'Manrope';
  }